 :root {
 --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --title-hero:#FFFFFF;
 }

.logo {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em

}

.logo-color {
    color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-nav a {
   color: var(--title-text-color);
   font-family: 'Roboto';
   margin-right: 40px;
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;
   letter-spacing: 0.02em;}
  



.site-nav.list:last-child {
    margin-right: 0;  
}


.site-nav.list {
   display: flex;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav a:hover{
    color: var(--accent-color);
}

.address {
    display: flex;
}


.contacts-nav:hover,
.contacts-nav:focus {
    color: var(--accent-color);
}



.contact-nav,
.email-nav {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    margin-right: 50px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-nav:hover,
.contact-nav:focus
.email-nav:hover,
.email-nav:focus

 {
    color: var(--accent-color);
}

.page .container {
    background-color: #FFFFFF;
}
.container {
    padding-left: 15px;
    margin: 0 auto;
    width: 1230px;
    outline: 2px solid tomato;
}

.main.nav {
    display: flex;
    align-items: center;
}


.hero {
    background-color: #212121;
    padding: 200px 432px;
    padding-bottom: 0;
    width: 1600px;
    left: 0px;
    top: 80px;

}

.title-hero {
    color: var(--title-hero);
    font-family: 'Roboto';
    margin-top: 0;
    margin-bottom: 59px;
    background-color: var(--title-text-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

}

.button-primary {
    color: var(--title-hero);
    border-radius: 4px;
    padding: 10px 32px;
    margin-bottom: 200px;
    min-width: 200px;
    text-align: center;
    border: 1px solid transparent;
    font-family: 'Roboto';
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

}
.benefits {visibility: hidden;
    color:var(--title-hero)
}

.section {
    padding-top: 67px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;

}
.section-title {
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em

}

.subtitle {
    color: var(--primary-text-color) ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.title {
    color: var(--title-text-color);
    font-family: 'Roboto';
    margin-top: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
   
}

.title-section {
    color: var(--title-text-color);
    font-family: 'Roboto';
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.title-team {
    color: var(--title-text-color);
    font-family: 'Roboto';
    margin-top: 188px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

}

.team {
    color: black;
    font-family: 'Roboto';
    padding-top: 30px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    }

.team-name {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    padding-top: 10px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.logo-white {
    color: var(--title-hero);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    text-decoration: none;
    letter-spacing: 0.03em;

}

.description {
    background-color: var(--title-text-color);
    color: var(--title-text-color);
}

.street-nav {
    color: var(--title-hero);
    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.street-nav:hover,
.street-nav:focus {
    color: #2196F3;
}

.emal-nav {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}

.emal-nav:hover,
.emal-nav:focus {
 color: var(--accent-color);
}
 

.phone-nav {
    color:rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.phone-nav:hover,
.phone-nav:focus {
    color: var(--accent-color)
}