 :root {
 --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --title-hero:#FFFFFF;
 }

 html {
    box-sizing: border-box;
 }

 *,
 *::after
 *::before {
   box-sizing: inherit;

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top:0;
}


.link {
  text-decoration: none;
  color: inherit;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.address {
    font-style: normal;
}

.logo {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;

}

.logo-color {
    color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    
 }


 .header.container {
    display: flex;
    align-items: center;
 }
 
 .header-nav {
    display: flex;
    align-items: center;
 }

 .site-nav.list {
    display: flex;
    align-items: center;
    margin-left: 93px;
 }
 
 .contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;

 }

 .item-list {
    list-style: none;
    margin-right: 50px;
    align-items: center;
 }

 .item-list:last-child {
    margin-right: 0;
 }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.site-nav a {
   color: var(--title-text-color);
   font-family: 'Roboto';
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;
   letter-spacing: 0.02em;}
  

.item {
    margin-right: 40px;
}

.site-nav.list:last-child {
    margin-right: 0;  
}


.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav a:hover{
    color: var(--accent-color);
}

.contacts-nav:hover,
.contacts-nav:focus {
    color: var(--accent-color);
}

.contact-nav,
.email-nav {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    margin-left: 331px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-nav.type {
    margin-left: 50px;

}

.contact-nav:hover,
.contact-nav:focus
.email-nav:hover,
.email-nav:focus

 {
    color: var(--accent-color);
}

.page .container {
    background-color: #FFFFFF;
}

.hero {
    background-color: #212121;
    padding-top: 200px;
    padding-bottom: 280px;
    

}

.title-hero {
    color: var(--title-hero);
    font-family: 'Roboto';
    background-color: var(--title-text-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

}

.button-primary {
    color: var(--title-hero);
    border-radius: 4px;
    padding: 10px 32px;
    margin-bottom: 200px;
    min-width: 200px;
    text-align: center;
    border: 1px solid transparent;
    font-family: 'Roboto';
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: block;
    margin: 0 auto;

}
.benefits {
    color:var(--title-hero)
}

.benefits {
    display: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;

}
.section-title {
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em

}

.subtitle {
    color: var(--primary-text-color) ;
    font-family: 'Roboto';
    margin-right: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.title {
    color: var(--title-text-color);
    font-family: 'Roboto';
    margin-left: 30px;
    margin-top: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
   
}

.title-section {
    color: var(--title-text-color);
    font-family: 'Roboto';
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.images {
    margin-right: 30px;
    
   
}

.co-worker {
    padding-top: 94px;
    padding-bottom: 50px;
}

.title-team {
    color: var(--title-text-color);
    font-family: 'Roboto';
    padding-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

}

.image {
    margin-right: 30px;
}

.team {
    color: black;
    font-family: 'Roboto';
    padding-top: 30px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    }

.team-name {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    padding-top: 10px;
    padding-bottom: 124px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.logo-white {
    color: var(--title-hero);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    text-decoration: none;
    letter-spacing: 0.03em;

}

.description {
    background-color: var(--title-text-color);
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--title-text-color);
}

.address {
    padding-top: 20px;
    margin: 0;
    
}


.address-street {
    margin-bottom: 9px;
    
}



.street-nav {
    color: var(--title-hero);
    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.street-nav:hover,
.street-nav:focus {
    color: #2196F3;
}

.emal-nav {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}

.emal-nav:hover,
.emal-nav:focus {
 color: var(--accent-color);
}
 

.phone-nav {
    color:rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.phone-nav:hover,
.phone-nav:focus {
    color: var(--accent-color)
}